<!DOCTYPE html>
<html>
  <head>
    <!--<title><%= titulo %></title>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Holaa</h1>
    <!--<h1><%= titulo %></h1>
    <p>Has escuchado <%= titulo %> ? sabias que es de <%= autor =%> </p>-->
  </body>
</html>
